@charset "utf-8";

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    color: #333;
}
a {
    color: #333;
    text-decoration: none;
}

header {
    padding: 200px;
    background: linear-gradient(-135deg,#4568dc,#b06ab3);
}

header h1 {
    text-align: center;
    color: #fff;
    font-size: 45px;
}

h2 {
    font-size: 30px;
    font-weight: 700;
    color: #000000;
    background: #eee;
    margin-top: 50px;
    padding: 15px;
}

img {
    margin-top: 20px;
    width: 100%;
}

p {
    color: #333;
    font-size: 20px;
    margin-top: 20px;
    line-height: 2;
    padding-left: 10px;
}

.sns-btn {
    float: right;
    padding: 30px 40px 20px 30px;
}


/* twitter */
.btn-social-long-twitter {
    color: #FFF;/*文字・アイコン色*/
    border-radius: 7px;/*角丸に*/
    display: inline-block;
    height: 50px;/*高さ*/
    width: 190px;/*幅*/
    text-align: center;/*中身を中央寄せ*/
    font-size: 25px;/*文字のサイズ*/
    line-height: 50px;/*高さと合わせる*/
    background: #1da1f3;
    overflow: hidden;/*はみ出た部分を隠す*/
    text-decoration:none;/*下線は消す*/
}
  
.btn-social-long-twitter .fa-twitter {
    text-shadow: 2px 2px 0px #4287d6;
    font-size: 30px;
}
  
.btn-social-long-twitter span {
    display:inline-block;
    transition: .5s;
}
  
.btn-social-long-twitter:hover span {
    -webkit-transform: rotateX(360deg);
    transform: rotateX(360deg);
}


/* instagram */
.btn-social-long-insta {
    /*ボタンの下地*/
    color: #FFF;/*文字・アイコン色*/
    border-radius: 7px;/*角丸に*/
    position: relative;
    display: inline-block;
    height: 50px;/*高さ*/
    width: 190px;/*幅*/
    text-align: center;/*中身を中央寄せ*/
    font-size: 25px;/*文字のサイズ*/
    line-height: 50px;/*高さと合わせる*/
    background: linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;/*グラデーション①*/
    overflow: hidden;/*はみ出た部分を隠す*/
    text-decoration:none;/*下線は消す*/
}
  
.btn-social-long-insta:before {
    /*グラデーション②*/
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;/*全体を覆う*/
    height: 100%;/*全体を覆う*/
    background: linear-gradient(15deg, #ffdb2c, rgb(249, 118, 76) 25%, rgba(255, 77, 64, 0) 50%) no-repeat;
}
  
.btn-social-long-insta .fa-instagram {
    /*アイコン*/
    font-size: 35px;/*アイコンサイズ*/
    position: relative;
    top: 4px;/*アイコン位置の微調整*/
}
  
.btn-social-long-insta span {
    /*テキスト*/
    display:inline-block;
    position: relative;
    transition: .5s;
}
  
.btn-social-long-insta:hover span {
    /*ホバーで一周回転*/
    -webkit-transform: rotateX(360deg);
    transform: rotateX(360deg);
}

/* facebook */
.btn-social-long-facebook {
    color: #FFF;/*文字・アイコン色*/
    border-radius: 7px;/*角丸に*/
    display: inline-block;
    height: 50px;/*高さ*/
    width: 190px;/*幅*/
    text-align: center;/*中身を中央寄せ*/
    font-size: 25px;/*文字のサイズ*/
    line-height: 50px;/*高さと合わせる*/
    background: #4966a0;
    overflow: hidden;/*はみ出た部分を隠す*/
    text-decoration:none;/*下線は消す*/
}
  
.btn-social-long-facebook .fa-facebook {
    text-shadow: 2px 2px 1px #224282;
    font-size: 30px;
}
  
.btn-social-long-facebook span {
    /*テキスト*/
    display:inline-block;
    transition: .5s;
}
  
.btn-social-long-facebook:hover span {
    /*ホバーで一周回転*/
    -webkit-transform: rotateX(360deg);
    transform: rotateX(360deg);
}